.container {
    width: 100%;
    margin:0px !important;
    padding: 0px !important;
    max-width: unset;
}

.row {
    /*display: -ms-flexbox;
    display: -webkit-box;*/
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#col-cadastro{
    width: 100%;
    height: 100vh;
    background-color: #6EA958;
    background-size: cover;
}


.col-lados{
    width: 100%;
    height: 100vh;
    background-color: #4B723C;
    background-size: cover; 
}

#col-cadastro h1{
	text-align: center;
    margin-top: 40px;   
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px black, 0 0 1px white ;
}

#link-login{
    color: #0046EC;
    margin-left: 250px;
}